<h1>Image Sharer</h1>

<div>
<% @image_link.each do |image_link| %>
    <%= link_to image_tag(image_link.url, class: "gallery-image"), image_link_path(image_link) %>
  <p>Tags:
    <%= image_link.tag_list.each do %>
    <% end %>
  </p>
<% end %>



</div>

<div>
  <%= link_to "Add A New Image", new_image_link_path %>
</div>

