<%= simple_form_for @image_link do |form| %>
  <div>
    <%= form.input :url, label: 'Image URL' %><br>
    <%# end %>
    <%= form.input :tag_list %>
  </div>

  <div>
    <%= form.button :submit %>
  </div>
<% end %>

