<%= simple_form_for @image_link do |form| %>
  <div>
    <%= form.input :url, label: 'Image URL' %><br>
<!--    <%#= form.text_area :url %><br>-->
    <%#= @image_link.errors.full_messages_for(:url).each do |message| %>
<!--      <div><%#= message %></div>-->
    <%# end %>
    <%= form.input :tag_list %>
  </div>

  <div>
    <%= form.button :submit %>
  </div>
<% end %>

